* {
  font-family: Verdana;
}

body {
  background-color: #dae0e6;
}

.icon-0 {
  height: 20px;
  margin-right: 8px;
  width: 20px;
}

.icon-00 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  fill: rgb(255, 255, 255);
  background: rgb(0, 121, 211);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  border-radius: 9001px;
  padding: 3px;
}

.eZQ5o2PrhR59wkAtPbxMU {
  color: #0079d3;
  fill: #0079d3;
}

.dropdown-login {
  position: relative;
  float: right;
}

.preview {
  display: block;
  max-width: 100%;
  position: relative;
}

/* Navbar */
.navbar-light .navbar-nav .nav-link {
  color: #0079d3;
}

.navbar {
  height: 49px;
}

.dropdown-left-manual {
  right: 0;
  left: auto;
  padding-left: 3px;
  padding-right: 1px;
  width: 130px;
}

.navbar-nav {
  width: 100%;
  text-align: center;

  >li {
    float: none;
    display: inline-block;
  }
}

/* Search Bar */
::-webkit-input-placeholder {
  font-size: 14px;
}

input.search-query {
  padding-left: 26px;
  border-radius: 5px;
}

form.form-search {
  position: relative;
}

form.form-search:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
  background-position: -48px 0;
  position: absolute;
  top: 12px;
  left: 8px;
  opacity: .5;
  z-index: 1000;
}

/* Post */
.frame {
  padding: 20px 24px;
}

.frame {
  -ms-flex-align: top;
  align-items: top;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1248px;
}

.frame-1 {
  min-width: 0px;
  width: 648px;
}

.frame-2 {
  min-height: 1000px;
  width: 100%;
}

.single-post {
  padding-left: 40px;
  border-radius: 4px;
}

.single-post {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  color: rgb(135, 138, 140);
  cursor: pointer;
  fill: rgb(135, 138, 140);
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  transition: color 0.5s ease 0s, fill 0.5s ease 0s, box-shadow 0.5s ease 0s;
}

.votes {
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  left: 0;
  padding: 8px 4px 8px 0;
  position: absolute;
  top: 0;
}

.vote-1 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  fill: inherit;
  flex-direction: column;
}

.vote-2 {
  height: 24px;
  width: 24px;
}

button {
  background: transparent;
  border: none;
   !important;
  font-size: 0;
  color: inherit;
  cursor: pointer;
  padding: initial;
}

.up-2 {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  width: 24px;
  font-size: 0px;
  line-height: 24px;
}

.up-3 {
  cursor: pointer;
  color: rgb(135, 138, 140);
  border-radius: 2px;
}

.up-4 {
  position: relative;
}

.vote-3 .vote-counts {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.vote-counts {
  pointer-events: none;
  word-break: normal;
}

.downvote-1 {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  width: 24px;
  font-size: 0px;
  line-height: 24px;
}

.downvote-2 {
  cursor: pointer;
  color: rgb(135, 138, 140);
  border-radius: 2px;
}

.single-post .post-content-1 {
  background: rgb(255, 255, 255);
}

.post-content-1 {
  background: #fff;
}

.post-content-2 {
  padding-top: 8px;
}

.article-1 {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
}

.article-2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  position: relative;
  word-break: break-word;
  flex: 1 1 100%;
  width: 605px;
}

.top-content {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  margin: 0px 8px 8px;
}

.subr-icon {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.subr-icon-2 {
  font-size: 12px;
  font-weight: 700;
  color: rgb(28, 28, 28);
  display: inline;
  line-height: 20px;
  vertical-align: baseline;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.subr-icon-3 {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.subr-icon-4 {
  vertical-align: middle;
  background-color: rgb(0, 121, 211);
  border-radius: 100%;
}

.top-content-2 {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.gold,
.top-content-4 {
  display: inline;
}

.top-content-3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  -ms-flex-align: center;
  align-items: center;
  color: inherit;
}

.subr {
  display: inline-block;
  flex: 0 0 auto;
}

.subr-a {
  font-size: 12px;
  font-weight: 700;
  color: rgb(28, 28, 28);
  display: inline;
  line-height: 20px;
  vertical-align: baseline;
  text-decoration: none;
}

.span-1 {
  margin: 0 4px;
}

.span-2 {
  color: rgb(124, 124, 124);
  font-size: 6px;
  line-height: 20px;
  vertical-align: middle;
}

.top-content .span-3 {
  color: rgb(120, 124, 126);
}

.span-3 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 3px;
}

.author-1, .author-2 {
  color: inherit;
}

.top-content .author {
  color: rgb(120, 124, 126);
}

.author, .time-ago {
  margin-right: 3px;
  text-decoration: none;
}

.author-1 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--newCommunityTheme-linkText);
}

.top-content .time-ago {
  color: rgb(120, 124, 126);
}

.time-ago {
  margin-right: 3px;
  text-decoration: none;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.cont {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.title-1 {
  margin: 0 8px;
}

.title-span {
  display: inline;
  position: relative;
  text-decoration: none;
  word-break: break-word;
}

.title-a {
  color: inherit;
}

.title-2 .title-a:visited .title-h2-1 {
  color: rgb(155, 155, 155);
}

.title-h2 {
  display: inline;
  color: rgb(34, 34, 34);
  overflow-wrap: break-word;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-right: 5px;
}

.message {
  margin-top: 8px;
}

.message-2 {
  position: relative;
}

.message-3 {
  pointer-events: none;
  width: 100%;
}

.message-4 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.message-5 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.message-img {
  display: block;
  max-width: 100%;
  position: relative;
}

.message-txt {
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  mask-image: linear-gradient(180deg, #000 60%, transparent);
  overflow: hidden;
  padding: 5px 8px 10px;
}

.txt1 {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(26, 26, 27);
  word-break: break-word;
  overflow: auto;
}

.txt2:first-child {
  padding-top: 0px;
}

.txt2 {
  padding: 0.25em 0px;
}

.bottom1 {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow-y: auto;
}

.single-post .bottom2 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.bottom2 {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 32px;
  padding: 0 8px 0 4px;
  position: relative;
}

.comments3 {
  word-break: normal;
  white-space: nowrap;
  min-width: 25px;
}

.comments2 {
  border-radius: 2px;
}

.comments1 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  padding: 4px;
}

.comments4 {
  margin-right: 4px;
}

.message-link:visited {
  color: rgb(63, 154, 222);
  fill: rgb(63, 154, 222);
}

.message-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
  color: rgb(0, 121, 211);
  fill: rgb(0, 121, 211);
  margin: 4px 8px;
}

/* VOTES */
.up-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#count {}

/* SIGN IN */
/* STRUCTURE */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */
h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #0079d3;
}

/* FORM TYPOGRAPHY*/
input[type=button], input[type=submit], input[type=reset] {
  background-color: #0079d3;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #0079d3;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #0079d3;
}

input[type=text]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */
/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #0079d3;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */
*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

.title-sign-in {
  color: #0079d3;
  padding-top: 25px;
  padding-bottom: 15px;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* PROFILE */
.pr1 {
  padding: 20px 24px;
}

.pr1 {
  -ms-flex-align: top;
  align-items: top;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1248px;
}

.pr2 {
  min-width: 0px;
  width: 100%;
}

.pr3 {
  margin-top: -4px;
}

.pr3>div {
  position: relative;
  z-index: 0;
}

.pr4 {
  margin-bottom: 0px;
  margin-top: 4px;
  border-width: 1px 1px 0px;
  border-style: solid;
  border-color: rgb(237, 239, 241);
  border-image: initial;
  padding: 1px 1px 2px;
}

.pr5 {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(135, 138, 140);
  cursor: pointer;
  fill: rgb(135, 138, 140);
  margin-bottom: -1px;
  position: relative;
  z-index: 0;
  border-width: thin;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  overflow: hidden;
}

.pr6 {
  background: rgb(255, 255, 255);
  padding: 0px 8px;
}

.pr7 {
  display: flex;
  padding: 8px 0px;
}

.pr8 {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  vertical-align: text-bottom;
}

.pr9 {
  font-size: 20px;
  margin-right: 8px;
  flex: 0 0 20px;
}

.pr10 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  flex: 1 1 auto;
}

.pr11 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(0, 121, 211);
  text-decoration: none;
}

.pr12 {
  display: inline;
}

.pr12>div {
  display: inline;
}

.pr12>div>span {
  display: inline;
}

.pr14 {
  display: inline;
  position: relative;
  text-decoration: none;
  word-break: break-word;
}

.pr17 .pr19:visited .pr15 {
  color: rgb(155, 155, 155);
}

.pr17 .pr18, .pr17 .pr15 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.pr16 {
  display: inline;
  color: rgb(34, 34, 34);
  overflow-wrap: break-word;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding-right: 5px;
}

.pr17 .pr18 {
  margin-right: 5px;
}

.pr17 .pr18, .pr17 .pr15 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.pr20:visited {
  color: rgb(63, 154, 222);
  fill: rgb(63, 154, 222);
}

.pr20 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
  color: rgb(0, 121, 211);
  fill: rgb(0, 121, 211);
  margin: 4px 8px;
}

.pr21 {
  margin: 0 4px;
}

.pr23 {
  color: rgb(124, 124, 124);
  font-size: 6px;
  line-height: 16px;
  margin-left: -1px;
  vertical-align: middle;
}

.pr24 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  align-items: center;
  color: inherit;
}

.pr24 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  -ms-flex-align: center;
  align-items: center;
  color: inherit;
}

.pr25 {
  display: inline;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.pr26 {
  display: inline-block;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.pr27 {
  font-size: 12px;
  font-weight: 700;
  color: rgb(28, 28, 28);
  display: inline;
  line-height: 20px;
  vertical-align: baseline;
  text-decoration: none;
}

.pr25 .pr22 {
  line-height: 16px;
}

.pr28 {
  color: rgb(124, 124, 124);
  font-size: 6px;
  line-height: 20px;
  vertical-align: middle;
}

.pr5 .pr29 {
  color: rgb(120, 124, 126);
}

.pr29 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 3px;
}

.pr30 {
  display: inline-block;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.pr32.pr33 {
  color: inherit;
}

.pr5 .pr32 {
  color: rgb(120, 124, 126);
}

.pr32 {
  margin-right: 3px;
  text-decoration: none;
}

.pr32 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--newCommunityTheme-linkText);
}

.pr34 {
  background: rgb(255, 255, 255);
  padding: 0px 8px;
  border-left: 1px solid rgb(237, 239, 241);
  border-right: 1px solid rgb(237, 239, 241);
  border-bottom: 1px solid rgb(237, 239, 241);
}

.pr35 {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  padding: 10px 0px 8px 8px;
  border-top: none;
}

.pr36 {
  margin-right: 16px;
  border-left: 2px dashed rgb(237, 239, 241);
  flex: 0 0 1px;
}

.pr37 {
  margin-bottom: -4px;
  flex: 1 1 auto;
}

.pr38 {
  width: 100%;
  max-width: none;
}

.pr39 {
  height: 16px;
  margin-left: 0px;
}

.pr40 {
  -webkit-box-align: center;
  align-items: center;
  line-height: 16px;
  display: flex;
  transition: opacity 0.2s ease 0s;
}

.pr40 .pr41:first-of-type {
  padding-left: 8px;
}

.pr40 .pr41 {
  padding-left: 4px;
  padding-top: 2px;
  flex: 0 0 auto;
}

.pr42 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(124, 124, 124);
}

.pr43 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(124, 124, 124);
  padding-left: 4px;
  padding-top: 2px;
  flex: 0 0 auto;
}

.pr44 {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pr45 {
  width: 100%;
  padding: 2px 0px;
}

.pr46 {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(26, 26, 27);
  word-break: break-word;
  overflow: auto;
}

.pr47:last-child {
  padding-bottom: 0px;
}

.pr47:first-child {
  padding-top: 0px;
}

.pr47 {
  padding: 0.25em 0px;
}

.pr48 {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(135, 138, 140);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin-left: -4px;
}

.pr49 {
  display: inline-block;
  margin: 4px;
  transition: color 0.1s ease 0s;
}

.pr50 {
  display: block;
}

.pr50 {
  -ms-flex: 0 0 312px;
  flex: 0 0 312px;
  width: 312px;
}

.pr51 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pr52 {
  position: relative;
  overflow: hidden;
}

.pr54 {
  background-color: rgb(51, 168, 255);
  height: 94px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.pr53 {
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  border-radius: 5px 5px 4px 4px;
  overflow: visible;
  padding: 12px;
}

.pr55 {
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  height: 86px;
  margin-left: -3px;
  margin-top: 16px;
  padding: 3px;
  position: relative;
  width: 86px;
}

.pr56 {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center center;
  border-radius: 4px;
}

.pr57 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(34, 34, 34);
  cursor: pointer;
  margin-top: 4px;
}

.pr58 {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(28, 28, 28);
  margin-top: 8px;
  margin-bottom: 8px;
}

.pr59 {
  display: flex;
  flex-wrap: wrap;
}

.pr60 {
  cursor: default;
  margin-bottom: 12px;
  flex: 1 1 50%;
}

.pr61 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgb(34, 34, 34);
}

.pr62 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin-top: 2px;
}

.pr63 {
  width: 14px;
  height: 14px;
  fill: rgb(36, 160, 237);
}

.pr64 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(124, 124, 124);
  margin-left: 4px;
}

.pr65 {
  cursor: default;
  margin-bottom: 12px;
  flex: 1 1 50%;
}

.pr66 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgb(34, 34, 34);
}

.pr67 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin-top: 2px;
}

.pr68 {
  width: 14px;
  height: 14px;
  fill: rgb(36, 160, 237);
}

.pr69 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(124, 124, 124);
  margin-left: 4px;
}

.pr70 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.pr71 {
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.pr72 {
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: rgb(0, 121, 211);
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  display: block;
  width: 100%;
  line-height: 17px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
  text-decoration: none;
  border-color: rgb(0, 121, 211);
  padding: 4px 16px;
}
