<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

  <!-- JS -->
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <title></title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-left">
      <img width="105" height="37" src="{{ url_for('static', filename='img/reddit-logo.png') }}">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item pull-left">
          <div>
            <a class="nav-link" href="/" style="padding: 14px; padding-left:30px; font-size: 20px;">Home</a>
          </div>
        </li>
        <li class="nav-item" style="padding-left: 330px;">
          <form class="form-search form-inline my-2 search" method="post" action="search">
            <input class="search-query form-control mr-sm-2" name="query" type="search" placeholder="Search Reddit" aria-label="Search" style="width:300px;">
          </form>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100 dropdown-left-manual">
          <li class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle dropdown-login" style="width:150px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img width="24" height="24" style="border-radius: 4px;float: left; margin-right: 5px;" src="{{ url_for('static', filename='img/icon.png') }}">
              yestemirova
            </a>
            <div class="dropdown-menu my-lg-0 dropdown-left-manual" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="/history">History</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>

</html>
