{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block main %}

<div class="wrapper fadeInDown">
  <div id="formContent">


    <div class="fadeIn first">
      <h2 class="title-sign-in">Sign in</h2>
    </div>


    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" style="margin-top: 20px;" value="Log In">
    </form>

  </div>
</div>

{% endblock %}
